
h1{
    font-family: Effra,Helvetica,Arial,sans-serif;
    color: white;
    font-weight: 500;
    letter-spacing: 9px;
}

h2{
    font-family: Effra,Helvetica,Arial,sans-serif;
    color: white;
    font-weight: 500;
    letter-spacing: 9px;
}

header{
    text-align:center;
    padding: 30px;
    background-color: black;
}

body{
    margin:0;
}

p{
    font-family: Effra,Helvetica,Arial,sans-serif;
}

a{
    font-family: Effra,Helvetica,Arial,sans-serif;
    text-decoration: none;
    color: black;
    font-size: 17px;
    font-weight: 450;
}

a:hover{
    color:#368bd6
}

select{
    font-family: Effra,Helvetica,Arial,sans-serif;
}

select{
    outline-width: 0;
}

label{
    font-family: Effra,Helvetica,Arial,sans-serif;
    font-weight: 500;
}

input[type=text]{
    width: 35%;
    border: 2px solid grey;
}

input[type=text]:focus{
    outline-width: 0;
    background-color: #ddd;
}

/*Styling radio button*/
input[type="radio"]{
    opacity: 0;
}

input[type="radio"] + label{
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    display: inline-block;
    line-height: 25px;
}

input[type=radio] + label:before{
    content: '';
    position: absolute;
    background: transparent;
    border: 2px solid #000;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    top: 0;
    left: 0;
}

input[type=radio]:checked + label:after{
    content: '';
    position: absolute;
    background: black;
    border-radius: 100%;
    width: 11px;
    height: 11px;
    top: 4px;
    left: 4px;
    transform: scale(1);
    opacity: 1;
    transition: all .3s ease;
}

input[type=radio]:not(:checked) + label:after{
    content: '';
    position: absolute;
    background: transparent;
    border-radius: 100%;
    width: 10px;
    height: 10px;
    top: 4px;
    left: 4px;
    transform: scale(0);
    opacity: 1;
    transition: all .5s;
}

/*Styling drop down list*/
#view{
    width:10em;
    height: 2em;
    overflow: hidden;
    font-family: Effra,Helvetica,Arial,sans-serif;
}

/*Styling checkbox*/
input[type=checkbox] + label{
    display: block;
    margin: 0.2em;
    cursor: pointer;
}

input[type=checkbox]{
    display: none;
}

input[type=checkbox] + label:before{
    content: "\2714";
    border: 0.1em solid #000;
    border-radius: 0.2em;
    display: inline-block;
    width: 1em;
    height: 1em;
    padding-left: 0.2em;
    padding-bottom: 0.3em;
    margin-right: 0.2em;
    color: transparent;
    transition: .2s;
}

input[type=checkbox]:checked + label:before{
    background-color: aquamarine;
    border-color: white;
    color: #fff;
}

input[type=checkbox] + label:active:before{
    transform: scale(0);
}

textarea{
    width: 35%;
    border: 2px solid grey;
}

textarea:focus{
    outline-width: 0;
    background-color: #ddd;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

.site{
    text-align: center;
}


.UI-survey{
    border-radius: 5px;
    background-color: #03fc96;
    padding: 20px;
}

.question{
    font-family: Effra,Helvetica,Arial,sans-serif;
}

.problem{
    font-weight: bold;
}

#submit{
    padding: .5rem 1.4rem;
    font-size: 1rem;
    color: white;
    background: black;
    border-radius: 2rem;
    border: none;
}

#signature{
    font-style: italic;
}